body {
    background-color: #000;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

canvas {
    background-color: #000;
    border: 2px solid #fff;
}

#restartButton {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}